.dropdown ul {
    display: none;
    margin-left: 12px;
}

li.dropdown {
    cursor: pointer;
    font-weight: bold;
}

li.dropdown span {
   position: relative;
    top: -1px;
    right: 3px;
}

li a {
    font-weight: normal;
}

span.person_info {
    position: relative;
    bottom: 1px;
    right: 1px;
}

span.icon-file-text {
    right: 2px;
    position: relative;
}